<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static from staticfiles %}
{% if DEBUG %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
{% endif %}
<style>
body {
  font-family: Georgia, serif;
  margin-bottom: 1em;
}

.btn {
  border-radius: 0;
  font-variant: small-caps;
}

.main-video-holder {
  text-align: center;
  margin: 1em 0;
}

.main-video {
  max-width: 100%;
  max-height: 75vh;
}

.main-video-description {
  margin: 1em 0;
}

.embed-code {
  font-family: monospace;
}

.tab-pane {
  margin-top: 1em;
}

@media (max-width: 480px) {
  .hidden-teensy {
    display: none;
  }
}
</style>
<title>{{ video.name }}</title>
<div class="container">
  <h1>{{ video.name }}</h1>

  <div class="main-video-holder">
    <video class="main-video" controls crossorigin="anonymous">
      <source src="{{ video.source.url }}" type="video/mp4"></source>
    </video>
  </div>

  <div class="main-video-description">
    {{ video.description }}
  </div>

  <div class="btn-group btn-group-justified" role="group">
    <a href="{{ video.source.url }}" download="{{ video.slug }}.mp4"
       class="btn btn-default">
      <span class="glyphicon glyphicon-save"></span>
      <span class="hidden-teensy">Download</span>
    </a>

    <a href="#"
       class="btn btn-default"
       data-toggle="modal" data-target="#embed-modal">
      <span style="font-weight: bold; font-family: monospace">&lt;/&gt;</span>
      <span class="hidden-teensy">Embed</span>
    </a>

    {% if is_editable %}
    <a href="{% url 'admin:video_video_change' video.id %}"
       class="btn btn-default">
      <span class="glyphicon glyphicon-pencil"></span>
      <span class="hidden-teensy">Edit</span>
    </a>
    {% endif %}
  </div>
</div>
<div class="modal fade" id="embed-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="embed-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
         data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="embed-modal-label">
          Embed This Video
        </h4>
      </div>
      <div class="modal-body">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#html5" aria-controls="html5" role="tab" data-toggle="tab">HTML 5</a></li>
            <li role="presentation"><a href="#html4" aria-controls="html4" role="tab" data-toggle="tab">HTML 4</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="html5">
              <p>Here is HTML 5 code for embedding the video.</p>
              <textarea autocomplete="off" class="form-control embed-code">{{ embed_html5 }}</textarea>
            </div>
            <div role="tabpanel" class="tab-pane" id="html4">
              <p>Here is HTML 4 code for embedding the video.</p>
              <textarea autocomplete="off" class="form-control embed-code">{{ embed_html4 }}</textarea>
              <br>
              <p>
                <strong>Note:</strong> Because HTML 4 doesn't 
                support the <code>&lt;video&gt;</code> element, the 
                code above embeds a linked image of the video that 
                brings the user to this website.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form id="upload-poster-frame" method="post" action="{% url 'video_upload_poster_frame' %}">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{ video.id }}">
  <input type="hidden" name="dataURL" value="">
</form>
{% if DEBUG %}
<script src="{% static 'vendor/jquery-2.1.3.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
{% else %}
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{% endif %}
<script src="{% static 'js/video-utils.js' %}"></script>
{% if upload_poster_frame_on_load %}
<script>
$(function() {
  var video = $('video.main-video');

  VideoUtils.waitForFrame(video, function() {
    var dataURL = VideoUtils.makePosterFrameWithPlayButton(video);
    var form = $('#upload-poster-frame');
    $('[name="dataURL"]').attr('value', dataURL);
    form.submit();
  });
});
</script>
{% endif %}
