<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static from staticfiles %}
{% if DEBUG %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
{% else %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
{% endif %}
<style>
body {
  font-family: Georgia, serif;
  margin-bottom: 1em;
}

.btn {
  border-radius: 0;
  font-variant: small-caps;
}

.main-video-holder {
  text-align: center;
  margin: 1em 0;
}

.main-video {
  max-width: 100%;
  max-height: 75vh;
}

.main-video-description {
  margin: 1em 0;
}

@media (max-width: 480px) {
  .hidden-teensy {
    display: none;
  }
}
</style>
<title>{{ video.name }}</title>
<div class="container">
  <h1>{{ video.name }}</h1>

  <div class="main-video-holder">
    <video class="main-video" controls crossorigin="anonymous">
      <source src="{{ video.source.url }}" type="video/mp4"></source>
    </video>
  </div>

  <div class="main-video-description">
    {{ video.description }}
  </div>

  <div class="btn-group btn-group-justified" role="group">
    <a href="{{ video.source.url }}" download="{{ video.slug }}.mp4"
       class="btn btn-default">
      <span class="glyphicon glyphicon-save"></span>
      <span class="hidden-teensy">Download</span>
    </a>

    {% if user.is_superuser %}
    <a href="{% url 'admin:video_video_change' video.id %}"
       class="btn btn-default">
      <span class="glyphicon glyphicon-pencil"></span>
      <span class="hidden-teensy">Edit</span>
    </a>
    {% endif %}
  </div>
</div>
{% if DEBUG %}
<script src="{% static 'vendor/jquery-2.1.3.js' %}"></script>
{% else %}
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
{% endif %}
<script src="{% static 'js/video-utils.js' %}"></script>
<script>
var video = $('video.main-video');

$(function() {
  VideoUtils.waitForFrame(video, function() {
    var dataURL = VideoUtils.makePosterFrameWithPlayButton(video);
    console.log("Data URL length:", dataURL.length);
    //$('<img src="' + dataURL + '">').appendTo('body');
  });
});
</script>
